# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Logs
npm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.local

# Build/Distribution
dist/
build/